{% extends 'orders/base.html' %}
{% load custom_filters %}

{% block title %}Edytuj Zlecenie{% endblock %}

{% block content %}
<h2>Edytuj Zlecenie</h2>
<form method="post" enctype="multipart/form-data" class="form-container">
    {% csrf_token %}
    <table class="table">
        {% for field in form %}
        {% if field.name == 'city' %}
        <tr>
            <td colspan="3"><h3>Cmentarz</h3></td>
        </tr>
        {% elif field.name == 'grave_type' %}
        <tr>
            <td colspan="3"><h3>Pomnik</h3></td>
        </tr>
        {% endif %}
        <tr class="form-group">
            <td>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </td>
            <td>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        <!-- Pole tylko do odczytu dla kosztów obłożenia -->
        <tr class="form-group covering-fields" style="display: none;">
            <td colspan="3">
                <label for="id_covering_cost">Koszt obłożenia</label>
                <input type="number" step="0.01" class="form-control" id="id_covering_cost" readonly>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <label for="total_cost">Suma kosztów:</label>
        <input type="number" step="0.01" class="form-control" id="total_cost" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz Zlecenie</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const booleanFields = ['lamp', 'vase', 'ball', 'covering'];
    const priceFields = ['lamp_price', 'vase_price', 'ball_price', 'curbs_price', 'monument_cost', 'old_monument_removal', 'cemetery_fee', 'transport_cost', 'other_costs_price', 'other_accessories_price'];

    function calculateTotalCost() {
        let totalCost = 0;
        console.log("Obliczanie sumy kosztów:");
        priceFields.forEach(field => {
            const priceField = document.querySelector(`#id_${field}`);
            if (priceField && priceField.value) {
                const value = parseFloat(priceField.value) || 0;
                console.log(`${field}: ${value}`);
                totalCost += value;
            }
        });
        const coveringCheckbox = document.querySelector('#id_covering');
        if (coveringCheckbox && coveringCheckbox.checked) {
            const coveringMaterial = document.querySelector('#id_covering_material');
            const coveringQuantity = document.querySelector('#id_covering_quantity');
            if (coveringMaterial && coveringQuantity && coveringQuantity.value) {
                const materialPrice = parseFloat(coveringMaterial.options[coveringMaterial.selectedIndex].dataset.price) || 0;
                const quantity = parseFloat(coveringQuantity.value) || 0;
                const coveringCost = materialPrice * quantity + 70;
                console.log(`covering_cost: ${coveringCost}`);
                totalCost += coveringCost;
                document.querySelector('#id_covering_cost').value = coveringCost.toFixed(2);
            }
        }
        console.log(`Suma kosztów: ${totalCost}`);
        document.querySelector('#total_cost').value = totalCost.toFixed(2);
    }

    priceFields.forEach(field => {
        const priceField = document.querySelector(`#id_${field}`);
        if (priceField) {
            priceField.addEventListener('input', calculateTotalCost);
        }
    });

    const coveringMaterial = document.querySelector('#id_covering_material');
    const coveringQuantity = document.querySelector('#id_covering_quantity');
    if (coveringMaterial) {
        coveringMaterial.addEventListener('change', calculateTotalCost);
    }
    if (coveringQuantity) {
        coveringQuantity.addEventListener('input', calculateTotalCost);
    }

    calculateTotalCost();
});
</script>
{% endblock %}