{% extends 'orders/base.html' %}

{% block title %}Pracownicy{% endblock %}

{% block content %}
<h2>Pracownicy</h2>
<a href="{% url 'signup' %}" class="btn btn-primary mb-3">Dodaj Pracownika</a>
<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Stanowisko</th>
            <th>Zadania</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.position }}</td>
            <td><a href="{% url 'employee_tasks' employee.id %}">Zobacz zadania</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}