{% extends 'orders/base.html' %}

{% block content %}
<h2>Lista Szablonów Zadań</h2>

<!-- Formularz dodawania nowego szablonu zadania -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Dodaj Szablon Zadania</button>
</form>

<!-- Lista istniejących szablonów zadań -->
<table class="table mt-4">
    <thead>
        <tr>
            <th>Szablon Zlecenia</th>
            <th>Nazwa Zadania</th>
            <th>Opis Zadania</th>
        </tr>
    </thead>
    <tbody>
        {% for task_template in task_templates %}
        <tr>
            <td>{{ task_template.order_template.name }}</td>
            <td>{{ task_template.name }}</td>
            <td>{{ task_template.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}